
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  max-width: 100%;
}


body {
  font-family: 'Nunito Sans';
  padding: 20px;
}

.grid {
  display:grid;
  grid-template-columns:  lfr;
  gap: 40px;
}

@media (min-width: 640px) {

  .grid {
    grid-template-columns: repeat(2, lfr);
  }
}
@media (min-width: 768px) {

  .grid {
    grid-template-columns: repeat(3, lfr);
  }
}